.item {
    min-width: 20rem;
    padding: 20px;
}

.item img {
    width: 100%;
    pointer-events: none;
    border-radius: 25px;
    border: 2px solid rgba(249, 165, 26, 1);
}

.carousel {
    cursor: grab;
}